.box {
  background-color: #f9f9f9;
  box-shadow: 0px 0px 30px #2321321f;
  border: 1px solid #ffffff;
  border-radius: 20px;
  opacity: 1;
  width: 20.6vw; 
  padding: 34px;
  transition: background 300ms ease;
}

.description {
    color: #999999;
    font-size: 15px;
}

.box:hover {
    background-color: #663399;
    opacity: 0.7;
    color: white;
}

.box:hover p {
    color: white;
}