
<div class="wrapper">
  <app-nav></app-nav>
  <section>
    <div class="background_circle">
      <div class="left">
        <img class="image small_circle" src="assets/blob-small.svg" alt="blob-small">
        <img class="image dots" src="assets/accounting_dots.svg" alt="accounting-dots">
      </div>
      <div class="right">
        <img class="image big_circle" src="assets/circle.svg" alt="circle">
        <img class="image dots" src="assets/accounting_dots.svg" alt="accounting-dots">
      </div>
    </div>
  </section>
</div>