.wrapper {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: 100vh;
}

.section {
  height: 100vh;
}

.background_circle {
  display: flex;
}

.left {
  width: 50%;
  margin-top: 213px;
}

.left,
.right {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.right {
  flex-direction: column;
}

.image {
  object-fit: contain;
}

.left .small_circle {
  height: 30vw;
  margin-left: -11vw;
  width: 30vw;
}

.left .dots {
  height: 70px;
  align-self: center;
  position: absolute;
  top: 32vw;
  left: 25vw;
  z-index: 9;
}

.right .big_circle {
  margin-top: -223px;
  margin-right: -100px;
  width: 62vw;
}

.right .dots {
  height: 70px;
  align-self: flex-end;
  margin-right: 32px;
}

.collect {
  position: absolute;
  top: 270px;
  left: 136px;
}

.features{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  margin-top: 130px;
}

.open_account {
  padding: 0px 39px;
  color: #663399;
}

.feature_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  flex: 0 1 50%;
  row-gap: 60px;
  position: relative;
  flex: 0 1 50%;
}

.position {
  position: relative;
  top: 50%;
}

.bottom_section {
  background-image: url('../assets/sol_wave_bg.svg');
}

.eligibility_calculator {
  position: absolute;
  top: 14.3vw;
  right: 7vw;
  z-index: 9;
}