.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 27px;
    left: 0;
    right: 0;
    opacity: 1;
    width: 98.9%;
    transition: all 0.3s ease;
}
.nav .logo {
    object-fit: contain;
    width: 6.5vw;
    margin-left: 6.4vw;
}

.nav .menu {
    display: flex;
    align-items: center;
}

span {
    font: normal normal normal 25px/34px Open Sans;
    color: #222222;
    margin: 0 50px;
    cursor: pointer;
}

span:hover {
    color: #663399;
}

.btn:hover {
    background: #663399;
    color: white;
}

.login {
    outline: none;
    padding: 10px 25px;
    color: #663399;
}

.get_started {
    border: none;
    outline: none;
    padding: 13px 25px;
    color: white;
    margin-left: 24px;
    margin-right: 100px;
    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
}

.scroll {
    top: 0;
    background-color: #fff;
    z-index: 999;
}